<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="{{url_for('static',filename='js/mui.min.js')}}"></script>
		<link href="{{url_for('static',filename='css/mui.min.css')}}" rel="stylesheet" />
	</head> 
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">设备管理</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				{% for device in devices%}
					<li class="mui-table-view-cell">{{device.name}}_{{device.code}}<span style='font-size:10px;colr:gray'>({{device.desc}})</span>
							<input onclick="del_device({{device.id}})" style="float:right;margin: 0 10px;" type="button" value="删除" />
					</li>
				{% endfor %}
				<li class="mui-table-view-cell">
					<div class="mui-collapse-content" style="text-align:center">
						<button id="addDevice" type="button" class="mui-btn">添加设备</button>
					</div>
				</li>
			</ul>
		</div>

	<!-- 添加用户 -->
		<div id="add_device_dialog" class="mui-popover" style="padding : 10px;margin:0 10%;width:80%;">
			<p style="width:100%;text-align:center">添加设备</p>
			<div class="mui-input-row">
				<label>名称</label>
				<input id="d_name" type="text" class="mui-input-clear" placeholder="请输入用户名">
			</div>
			<div class="mui-input-row">
				<label>编码</label>
				<input id="d_code" type="text" class="mui-input-clear" placeholder="请输入编码">
			</div>
			<div class="mui-input-row">
				<label>描述</label>
				<input id="d_desc" type="text" class="mui-input-clear" placeholder="请输入描述">
			</div>
			<div class="mui-button-row">
				<button id="d_confirm" type="button" class="mui-btn mui-btn-primary">确认</button>
				<button id='d_cancel' type="button" class="mui-btn mui-btn-danger">取消</button>
			</div>
		</div>
	</body>

</html>
<script type="text/javascript" charset="utf-8">
	mui.init();
	mui('.mui-collapse-content').on('tap','#addDevice',function(e){
		mui('#add_device_dialog').popover('show');//show hide toggle
	});
	mui('#add_device_dialog').on('tap','#d_cancel',function(e){
		mui('#add_device_dialog').popover('hide');//show hide toggle
	});
	mui('#add_device_dialog').on('tap','#d_confirm',function(e){
		d_name = document.getElementById('d_name').value
		d_code = document.getElementById('d_code').value
		d_desc = document.getElementById('d_desc').value
		mui.post('{{url_for('add_device')}}',{d_name:d_name,d_code:d_code,d_desc:d_desc},function(data){
			if(data == -1){
				mui.toast('参数错误',{ duration:1000, type:'div' })
			}else if (data == 0){
				mui.toast('创建失败',{ duration:1000, type:'div' })
			}else{
				window.location.href = '{{url_for('devices')}}'
			}
		},'json');
	});
	function del_device(id){
		mui.confirm('','您确定要删除当前设备吗？',['确认','取消'],function(e){
			if(e.index==0){
				mui.post('{{url_for('del_device')}}',{d_id:id},function(data){
					if(data == -1){
						mui.toast('参数错误',{ duration:1000, type:'div' })
					}else if (data == 0){
						mui.toast('创建失败',{ duration:1000, type:'div' })
					}else{
						window.location.href = '{{url_for('devices')}}'
					}
				},'json');
			}
		})
	}
</script>
