<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="{{url_for('static',filename='js/mui.min.js')}}"></script>
		<link href="{{url_for('static',filename='css/mui.min.css')}}" rel="stylesheet" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">用户管理</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view">
				{% for user in users%}
					<li class="mui-table-view-cell">用户名：{{user.name}}
						{% if user_type == 1 %}
							<input onclick="del_user({{user.id}})" style="float:right;margin: 0 10px;" type="button" value="删除" />
						{% endif %}
					</li>
				{% endfor %}
				{% if user_type == 1 %}
				<li class="mui-table-view-cell">
					<div class="mui-collapse-content" style="text-align:center">
						<button id="addUser" type="button" class="mui-btn">添加用户</button>
					</div>
				</li>
				{% endif %}
			</ul>
		</div>

	<!-- 添加用户 -->
		<div id="add_user_dialog" class="mui-popover" style="padding : 10px;margin:0 10%;width:80%;">
			<p style="width:100%;text-align:center">添加房间</p>
			<div class="mui-input-row">
				<label>名称</label>
				<input id="u_name" type="text" class="mui-input-clear" placeholder="请输入用户名">
			</div>
			<div class="mui-input-row">
				<label>密码</label>
				<input id="u_passwd" type="password" class="mui-input-password" placeholder="请输入密码">
			</div>
			<div class="mui-input-row">
				<label>类型</label>
				<select id="u_type">
					<option value="1">管理员</option>
					<option value="0" selected='selected'>普通用户</option>
				</select>
			</div>
			<div class="mui-button-row">
				<button id="u_confirm" type="button" class="mui-btn mui-btn-primary">确认</button>
				<button id='u_cancel' type="button" class="mui-btn mui-btn-danger">取消</button>
			</div>
		</div>
	</body>

</html>
<script type="text/javascript" charset="utf-8">
	mui.init();
	mui('.mui-collapse-content').on('tap','#addUser',function(e){
		mui('#add_user_dialog').popover('show');//show hide toggle
	});
	mui('#add_user_dialog').on('tap','#u_cancel',function(e){
		mui('#add_user_dialog').popover('hide');//show hide toggle
	});
	mui('#add_user_dialog').on('tap','#u_confirm',function(e){
		u_name = document.getElementById('u_name').value
		u_password = document.getElementById('u_passwd').value
		u_type = document.getElementById('u_type').value
		mui.post('{{url_for('add_user')}}',{u_name:u_name,u_passwd:u_password,u_type:u_type},function(data){
			if(data == -1){
				mui.toast('参数错误',{ duration:1000, type:'div' })
			}else if (data == 0){
				mui.toast('创建失败',{ duration:1000, type:'div' })
			}else{
				window.location.href = '{{url_for('user')}}'
			}
		},'json');
	});
	function del_user(id){
		mui.confirm('','您确定要删除当前用户吗？',['确认','取消'],function(e){
			if(e.index==0){
				mui.post('{{url_for('del_user')}}',{u_id:id},function(data){
					if(data == -1){
						mui.toast('参数错误',{ duration:1000, type:'div' })
					}else if (data == 0){
						mui.toast('创建失败',{ duration:1000, type:'div' })
					}else{
						window.location.href = '{{url_for('user')}}'
					}
				},'json');
			}
		})
	}
</script>
